<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" lang="fr" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <title>Home page</title>
</head>

<body>
<div layout:fragment="content1">
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <h1 class="text-secondary">Bienvenue, Par Ahmouny Hamza 4IIR G3</h1>
                <a href="https://github.com/Hamzalopode/spring-MVC-thymeleaf-server-side-rendering">https://github.com/Hamzalopode/spring-MVC-thymeleaf-server-side-rendering</a>
            </div>

        </div>
    </div>
</div>
</body>
</html>